@import "tailwindcss";
@import "tw-animate-css";



@font-face {
  font-family: skip;
  src: url(/fonts/103fc5fac08dcb15-s.p.woff2);
}
.hollow-text {
  -webkit-text-stroke: 2px white; /* Border width and color */
  color: transparent;             /* Makes text body transparent */
}

 *{

  font-family: skip;
 }

